.home {
    height: 100vh;
    // background-color: #b7aef2;
    color: $black;
    transition: 0.2s;
    position: relative;

    .login {
        position: relative;
        border-radius: 12px;
        box-shadow: 2px 2px 20px -7px rgba(0, 0, 0, 0.509);
        padding: 30px 20px;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 20px;

        h1 {
            font-size: 28px;
            font-weight: 700;
        }

        form {
            gap: 8px;
        }

        &::after {
            position: absolute;
            bottom: 0;
            content: '';
            min-height: 20px;
            z-index: -1;
            color: rgb(181, 1, 1);
            background-color: $error-red;
            box-shadow: 2px 2px 20px -4px rgba(0, 0, 0, 0.509);
            width: 77%;
            border-radius: 12px;
            padding: 20px 10px;
            font-weight: 700;
            transition: 0.2s;
        }

        &.error-email::after {
            content: 'Email does not exist';
            transform: translate(0, 55px);
        }

        &.error-pass::after {
            content: 'Incorrent password';
            transform: translate(0, 55px);
        }
    }



    .color-line-wrapper {
        position: absolute;
        width: 100%;
        bottom: 100px;
        z-index: -1;
        left: 20%;
        transform: translateY(100%);
        // justify-content: center;
        align-items: center;

        .color-line {
            width: 15%;

            @for $i from 1 through 4 {
                &:nth-child(3n + #{$i}) {
                    background-color: nth($colors, $i );
                    // height: $height + ($i*20);
                    height: 140px;
                    border-radius: 0 0 30px 30px;
                    transform: translateY(-100%);
                    animation: drip 1s $delay*$i*0.2 1 forwards ease;
                    box-shadow: 0px 0px 5px 1px rgba(128, 128, 128, 0.5);
                }
            }
        }

        @keyframes drip {
            to {
                transform: translateY(0);
            }
        }
    }

    .gradient {
        position: absolute;
        z-index: -2;
        width: 70%;
        height: 70%;
        border-radius: 50%;
        background: linear-gradient(313deg, #f2b3d6, #d4cff7, #f2aeae, #f2e9ae, #f2eeeb);
        background-size: 1000% 1000%;

        -webkit-animation: move-gradient 70s ease infinite;
        -moz-animation: move-gradient 70s ease infinite;
        animation: move-gradient 70s ease infinite;

        filter: blur(100px);

        @-webkit-keyframes move-gradient {
            0% {
                background-position: 10% 0%
            }

            50% {
                background-position: 91% 100%
            }

            100% {
                background-position: 10% 0%
            }
        }

        @-moz-keyframes move-gradient {
            0% {
                background-position: 10% 0%
            }

            50% {
                background-position: 91% 100%
            }

            100% {
                background-position: 10% 0%
            }
        }

        @keyframes move-gradient {
            0% {
                background-position: 10% 0%
            }

            50% {
                background-position: 91% 100%
            }

            100% {
                background-position: 10% 0%
            }
        }

    }
}