/* Color Theme Swatches in Hex */
$pink: #F2B3D6;
$dark-purple: #644fea;
$purple: #B7AEF2;
$light-purple: #d1ccf5;
$yellow: #bc9824;
$light-yellow: #d8bd61;
$green: #2BD999;
$light-green: #6cd8b1;
$white: #F2EEEB;
$black : #353535;

$error-red: #f2aeae;
$error-red-dark: #f04848;

$deg: 10deg;
$height: 100px;
$delay: 0.5s;
$colors: $pink, $light-purple, $light-green, $light-yellow;

// LAYOUT
$layoutPadding: 20px;

// Breakpoints
$mobile-breakpoint: 480px;
$tablet-breakpoint: 780px;
$desktop-breakpoint: 1020px;
$wide-dekstop-breakpoint: 1300px;