.page-404-wrapper {
    height: 100vh;

    .page-404 {
        position: relative;
        border-radius: 12px;
        box-shadow: 2px 2px 20px -7px rgba(0, 0, 0, 0.509);
        padding: 30px 20px;
        background-color: white;
        gap: 10px;

        h1 {
            font-size: 40px;
        }

        p {
            font-size: 20px;
            width: 100%;
            text-align: left;
        }
    }

    img {
        user-select: none;
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translateX(15%);
        width: 100%;
        min-width: 550px;
        max-width: 1300px;
        z-index: -1;
    }

    a {
        border: none;
        padding: 10px;
        border-radius: 12px;
        font-weight: 700;
        background-color: $purple;
        font-size: 16px;
        margin-bottom: 50px;
        transition: 0.2s;

        &:hover {
            color: $yellow;
            cursor: pointer;            
            background-color: #b7aef258;

        }

        &:active {
            box-shadow: inset 5px 5px 30px $purple,
                inset -20px -20px 60px #ffffff;
        }
    }
}